
{% extends "bootstrap/base.html" %}

    {% block head %}
        <title>{% block title %}{% endblock %} - My Application</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script>

        </script>
        {{ moment.include_moment() }}
{% endblock %}