{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

    {% if name %}
        <H2>hello {{ name }}</H2>
    {% else %}
        <H2>hello stranger</H2>
    {% endif %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.submit() }}
    </form>

    {% block content %}
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block page_content %}{% endblock %}
        </div>
    {% endblock %}

{% endblock %}