{% extends "base.html" %}
{% block title %}Index.html{% endblock %}
{% block body %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button"></button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ error_page_url }}">error page</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h1>Hello World.</h1>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>

{% endblock %}