{% extends "base.html" %}
{% block title %}Index.html{% endblock %}
{% block body %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button"></button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="{{error_page_url}}">error page</a></li>
            </ul>
        </div>
    </div>
</div>

<table>
    <tr>
        <td class="table_cell">Hello {{ name }}</td>
    </tr>
</table>
{% endblock %}